{% extends 'admin-pages/base.html' %}
{% load static %}


{% block content %}
    <div class="container mt-5">
            <h4 class="display-4"> Create new user</h4>
            <form action="/create-user" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
{#                  <div class="form-group">#}
{#                    <label for="exampleInputEmail1">Email address</label>#}
{#                    <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">#}
{#                  </div>#}
{#                  <div class="form-group">#}
{#                    <label for="exampleInputPassword1">Password</label>#}
{#                    <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">#}
{#                  </div>#}
{#                  <div class="form-group">#}
{#                    <label for="exampleInputPassword1">Confirm Password</label>#}
{#                    <input name="confirm_password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password">#}
{#                  </div>#}
{#                <div class="form-group">#}
{#                    <input type="checkbox" name="is_staff"><span style="margin-left: 10px;">Is staff</span>#}
{#                </div>#}
                  <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
{% endblock %}